@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');


h1 {

    color: #046494;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 90px;
}

body {
    background-color: #E7F6F9;
}

h2 {

    color: #046494;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    opacity: 0.7;
}


h3 {
    color: #046494;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}

h4 {
    color: #046494;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}

h5 {
    color: #046494;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    opacity: 0.7;

}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E7F6F9;;
}

li {
    float: left;
}

li a {
    display: block;
    color: #3A353A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #D5D5D5;
}

p {
    text-align: center;
    font-family: 'Markazi Text', serif;
    color: #3A353A;
    font-size: 20px;

}

input[type=submit] {
    background-color: #A3D8E3;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Markazi Text', serif;
    color: #3A353A;
    font-size: 18px;



}

.search_bar {
    background-color: #A3D8E3;
    padding: 4px;
    font-size: 20px;
    border: dot-dash;
    border-color: #046494;
    border-radius: 4px;
    cursor: pointer;
    color: #3A353A;
    font-family: 'Markazi Text', serif;
}

select{
    background-color: #A3D8E3;
    padding: 6px;
    font-size: 20px;
    border: dot-dash;
    border-color: #046494;
    border-radius: 4px;
    cursor: pointer;
    color: #3A353A;
    font-family: 'Markazi Text', serif;
}


.click {
    color: #65ACBC;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;


}

input[name=search] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 585px;
}

select[id=drink] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 600px;
}

select[id=food] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 575px;
}

select[id=foods] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 210px;
}

select[id=drinks] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 210px;

}
#logo {
    position: relative;
}
#logo img {
    position: absolute;
    bottom: 60px;
    right: 15px;
}


.wgc {
    position: absolute;
    bottom: 95px;
    right: 100px;


}

.specials {
    color: black;
    border: 3px solid #847c81;
    display: inline-block;
    transition-duration: 0.2s;
    text-align: center;
    padding: 10px 10px;
    alignment: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 650px;
}

.specials:hover {
    background-color: #D4EBEF;
    color: white;
}

.sort_food {
    color: black;
    display: inline-block;
    transition-duration: 0.4s;
    text-align: center;
    padding: 10px 10px;
    alignment: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 585px;
}

.sort_drinks {
    color: black;
    display: inline-block;
    transition-duration: 0.4s;
    text-align: center;
    padding: 10px 10px;
    alignment: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 600px;
}


table, th, td {
    border: 2px solid #847c81;


}
table {
    width: 100%;
}

a {
    font-family: 'Markazi Text', serif;
    color: #3A353A;
    font-size: 30px;
}

